body{
    background-color: rgb(255, 255, 255);
}
.container{
    border: 2px solid white;
    display:grid;
    height: 700px;
    width: 850px;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    margin-left: 22%;
    margin-top: 1.5%;
}
.zone {
    cursor:pointer;
    text-align: center;
    border:3px solid rgb(255, 255, 255);
    transition: all 0.3s linear;
}

.zone:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.one{
    background: #ff0000;
    grid-row-start: 1;
    grid-row-end: 3;    
}

.two{
    background: #660098;
    grid-column-start: 2;
    grid-column-end: 3;
      
}
.three{
    background: #ff0000;
    grid-column-start: 3;
    grid-column-end: 5;  

}
.four{
    background: #001eff;
    grid-column-start: 5;
    grid-column-end: 6;
    
}
.five{
    background: #ffffff;
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start:6;
    grid-column-end: 7;
}
.six{
    background: #ff9500;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:2;
    grid-column-end: 3;
    
}
.seven{
    background: #ffffff;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:3;
    grid-column-end: 5;
}

.eight{
    background: #ff9500;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start:5;
    grid-column-end: 6;
}
   
.nine{
    background: #660098;
    grid-row-start: 3;
    grid-row-end: 4;
  
}
.ten{
    background: #ff9500;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start:1;
    grid-column-end: 2;
   
}
.elev{
    background: #001eff;
    grid-column-start:2;
    grid-column-end: 3;
   
}
.twel{
    background: #660098;
    grid-column-start:3;
    grid-column-end: 4;
    
}
.thirt{
    background: #ff0000;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start:4;
    grid-column-end: 6;
    
}
.fourt{
    background: #660098;
    
}
.fift{
    background: #ff9500;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start:3;
    grid-column-end: 5;


}   
.sixt{
    background: #660098;
    
    
}   
.sevent{
    background: #001eff;
   
}